h1 {
    scroll-margin-top: 17vw;
    font-size: 28px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white; 
}
#logo{
    max-width: 400px;
}
li {
    float: left;
}
li a{ 
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 28px;
    text-decoration: none;
}
li a:hover{
    background-color: #182b49;
    color: white;
}

#navbar{
    position:sticky;
    top: 0;
    overflow:hidden;
    background-color: white;
    font-size: 28px;
}

.section1 {
    display: inline-block;
    width: 100%;
    background-color:rgb(245, 240, 230);
}
.section2{
    display: inline-block;
    width:100%;
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    color: white
}
.section3 {
    display: inline-block;
    width: 100%;
    background-color:rgb(245, 240, 230);
}
.content {
    padding: 1%;
    font-size: 28px;
}

.section3 .wrapper > p {
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
}
.section3 .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-items: center;
}
/**
#grids{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(100px, auto);
    background-color: #182b49;
    color: white;
   grid-template-columns: repeat(4, 1fr);
    
}
*/